#Virtual Environment
venv/
env/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# Secrets & Certificates
certs/*.pem
certs/*.key
.env
*.env
# Database
*.db
*.sqlite3
# Logs
logs/*.log
logs/*.txt

# IDE
.vscode/
.idea/
*.swp
*.swo


# OS
.DS_Store
Thumbs.db

# Test outputs
*.pcap
*.pcapng
